body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope';
  }


  /*header*/

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 280px;
    margin-right: 280px;
    position: relative;
    margin-bottom: -80px;
  }
    
  .header-left {
    display: flex;
    align-items: center;
    margin-left: -25px;
  }
    
  .header-right {
    display: flex;
    align-items: center;
  }
    
  .semi-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
    
  .small-image-call {
    margin-right: 15px;
    width: 26px;
    height: 26px;
  }
    
  .small-image-mail {
    margin-right: 15px;
    width: 26px;
    height: 24px;
  }
    
  .small-image-location {
    margin-right: 15px;
    width: 20px;
    height: 30px;
  }
    
  .text-container {
    display: flex;
    flex-direction: column;
  }
    
  .text-container p{
    color: #878680;
    margin-bottom: -15px;
    font-size: 10px;
  }
    
  .text-container h3{
    font-size: 12px;
    margin-top: 15px;
  }
    
  .header-image {
    width: 100px;
    height: auto;
  }
    
  

  /*navbar*/

  nav {
      display: flex;
      justify-content: space-between;
      padding: 100px;
      margin-left: 150px;
      margin-right: 150px;
  }

  nav a {
      color: #000000;
      text-decoration: none;
      margin-right: 30px;
      font-family: manrope;
      font-weight: lighter;
      font-size: 15px;

  }

  nav i {
      color: #000000;
      font-size: 15px;
  }

  .img-container img{
      height: 250px;
      width: 100%;
      margin-top: -90px;
  }

  .img-container {
      position: relative;
  }

  .img-text {
      position: absolute;
      transform: translate(300%, -250%);
      font-size: 40px;
      color: white;
      font-weight: bold;
  }

  .img-text2 {
      position: absolute;
      transform: translate(720%, -1150%);
      font-size: 10px;
      color: white;
      letter-spacing: 2;
  }

  .p{
      text-align: center;
      color: #666666;
  }



/*content*/

.outer-container-account-main{
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Add this line */
}
        
        
/* left container */

.left-container-account-main {
    width: 15%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 25px;
    margin-top: -450px;
}

.left-container-account-main span {
  margin-bottom: 50px;
  cursor: pointer;
}

.left-container-account-main span a {
  font-size: 24px;
  font-weight: bold;
  color: #6C7275;
  text-decoration: none;
}
        
.left-container-account-main span:hover {
    background-color: rgb(0, 178, 7, 18%);
    color: black;
    padding: 5px;
    border-radius: 5px;
}
        
        
        
          /*right container*/
        
          .right-container-account-main {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding: 20px;
            float: right;
            position: relative;
            margin-top: 50px;
          }
        
        
          .address-boxes-account-main {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
          }
        
          .address-box-account-main {
            width: 47%;
            padding: 15px;
            border: 1px solid #000000;
            border-radius: 10px;
          }
        
          .location-account-main {
            display: flex;
            align-items: center;
          }
        
          .location-icon-account-main {
            width: 30px;
            height: 40px;
            margin-right: 20px;
          }
        
          .address-text-account-main {
            display: flex;
            flex-direction: column;
          }
        
          .address-text-account-main span {
            font-size: 16px;
            color: #868686;
          }
        
          hr {
            border: 1px solid 545454;
            margin: 20px 10px;
            margin-top: 5px;
            margin-bottom: 80px;
          }
        
          .orders-box-account-main {
            width: 98%;
            padding: 10px;
            border: 1px solid #000000;
            border-radius: 10px;
          }
        
          .form-left-checkout {
            display: flex;
            flex-direction: column;
          }
        
          .row-left-checkout {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
          }
        
          .row-inner-checkout {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 20px;
          }
        
          .input-left-checkout {
            width: 550px;
            height: 70px; 
            padding: 10px; 
            background-color: #F8F8F8;
            border: none;
            border-radius: 5px;
            box-sizing: border-box;
          }
        
          .input-left-checkout::placeholder {
            color: #8F8F8F;
            font-size: 16px;
          }
        
          .input-left-big-checkout {
            width: 1120px;
            height: 70px; 
            padding: 10px; 
            background-color: #F8F8F8;
            border: none;
            border-radius: 5px;
            box-sizing: border-box;
          }
        
          .input-left-big-checkout::placeholder {
            color: #8F8F8F;
            font-size: 16px;
          }




    /*footer*/

    footer {
        background-color: #1B4328;
        color: white;
        padding: 20px;
        display: flex;
        margin-top: 200px;
      }
      
      .left-section,
      .middle-section{
        flex: 1;
        margin-left: 30px;
      }
      
      .right-section{
        margin-left: 200px;
      }
      
      .middle-section {
        padding: 0 100px;
      }
      
      .middle-section ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .middle-section li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
      }
      
      .box {
        background-color:  rgba(0, 0, 0, 0.5);
        color: white;
        width: 90%;
        height: 250px;
        text-align: left;
        position: absolute;
        bottom: -1125;
        left: 50%;
        transform: translate(-50%);
        padding: 20px;
        font-size: 45px;
        font-weight: bolder;
        letter-spacing: 5px;
      }
      
      .button {
        background-color: #1B4328;
        color: white;
        height: 50px;
        width: 150px;
        font-size: 16px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 78px;
        margin-top: -40px;
        letter-spacing: 2px;
      }
      
      .container{
        width: 200px;
        margin-right: -600px;
      }